.Resource__main {
  text-align: center;
  background-color: #ffffff;
  /* border-radius: 12px; */
  /* padding: 20px 0px 20px 0px; */
  font-size: 24px;
  color: #3d3d3d;
  border-style: none;
  /* filter: drop-shadow(0 0.1rem 0.1rem #000000); */
}
