.Resource__main {
  background-color: #3d3d3d;
  border-radius: 12px;
  padding: 20px 0px 20px 0px;
  font-size: 22px;
  color: #ffffff;
}

.Resource__main h2 {
  background-color: #3d3d3d;
}

.resourceTypeForm {
  font-size: 22px;
}

.Zipcode {
  font-size: 22px;
}
