.Resource__main {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 13px;
}

.Resource__details {
  border-style: solid;
  width: 92%;
  height: auto;
  margin: auto;
  margin-bottom: 36px;
  padding-top: 1px;
  border-radius: 13px;
  border: none;
  color: #ffffff;
  background-color: #523d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  overflow-wrap: break-word;
  /* color: #e6dede; */
}

.Resource__heading {
  /* margin-top: -12px; */
  margin: 10px;
  /* padding: 0; */
}

.Resource__header {
  margin: 5px;
  padding-bottom: 15px;
}

.Resource__desc {
  padding: 15px;
}

.Resource__item {
  display: block;
  text-align: center;
  margin: 10px;
}

.Resource__item button {
  display: block;
  text-align: center;
  height: 20px;
}

.Add_Comment_Button {
  height: 60px;
  width: 100px;
  margin-right: 4px;
  border-style: none;
  border-radius: 8px;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  /* background-color: #e6dede; */
}

.Edit_Details_Button {
  height: 60px;
  width: 100px;
  margin-left: 4px;
  border-style: none;
  border-radius: 8px;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  /* background-color: #e6dede; */
}
