.logo-main {
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
}
.main-section {
  display: flex;
  height: 800px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 10px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-section h1 {
  font-size: 20px;
}

.main-search {
  text-align: center;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  background-color: #c7b3b3;
  width: 200px;
  height: 90px;
  border: none;
  border-radius: 17px;
  font-size: 28px;
  position: relative;
}

.middle-section {
  width: 96%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3d3d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  border-radius: 18px;
  color: #fdfdfd;
}

.main-paragraph {
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 40px;
}

.bottom-section {
  color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .tiny__header {
  background-color: #3d3d3d;
  border-radius: 25px;
  height: 2px;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
} */

.tiny__footer {
  display: none;
  font-size: 10px;
  background-color: #3d3d3d;
  height: 12px;
  color: #ffffff;
}
