/* .middle-section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3d3d3d;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  border-radius: 18px;
  color: #fdfdfd;
}

.main-paragraph {
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 40px;
}

.bottom-section {
  color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
} */
