.add_resource_form_css {
  padding: 20px 0px 35px 0px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 98%;
  margin: auto;
  background-color: #3d3d3d;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  filter: drop-shadow(0 0.1rem 0.1rem #000000);
  border-radius: 14px;
  text-align: center;
}

.add_resource_form_css input {
  display: flex;
  height: 50px;
  width: 180px;
  margin: auto;
  margin-bottom: 22px;
  text-align: center;
}

.Add_Submit_Button {
  display: flex;
  margin: auto;
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
  text-align: center;
}
