@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'oxygen';
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
