.full-nav {
  /* background-color: #3d3d3d; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 17px;
}

/* Style the links inside the navigation bar */
.full-nav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 0px 7px 0px 7px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.full-nav a:hover {
  background-color: #3d3d3d;
  border-radius: 8px;
  color: #ffffff;
}

/* Add a color to the active/current link */
.full-nav a.active {
  background-color: #7c6363;
  border: 17px;
  width: 20%;
  color: white;
  text-align: center;
  margin: auto;
}

.full-nav button {
  border: none;
  background-color: #ffffff;
}
